/*FONTS*/

h1 {
  color: $light-gray;
  font-size: 36px;
}

h3{
  color: $light-gray;
  font:$sans-serif-font;
  font-size: 18px;
}

/*Navigation*/

.navigation {
  color: $light-gray;
  font:$sans-serif-font;
  padding-top: 50px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.aboutnavigation {
  color: $dark-gray;
  font:$sans-serif-font;
  padding-top: 50px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/*Header*/

.header {
  background: $base-gray url(./images/bkg-gray-01.png) no-repeat top left;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  min-height: 600px;
  height:100%;
  margin: 0;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 215px;
}

.name {
  text-align: center;
}

.title {
  text-align: center;
}

/*ABOUT*/

.about {
  background: $base-blue url(./images/bkg-blue-01.png) no-repeat top left;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  min-height: 600px;
  height:100%;
  margin: 0;
}
