/*FONTS*/

h1 {
  color: $dark-gray;
  font-size: 72px;
  font-weight: 600;
  text-align: center;
}

h2 {
  color: $light-gray;
  font-size: $fontsize-bigger;
}

h3{
  color: $dark-gray;
  font-size: $fontsize-bigger;
  font-weight: 800;
}

h4{
  color: $light-gray;
  font-size: $fontsize-medium;
}

p{
  color: $dark-gray;
  font-size: 16px;
}

.small-text{
  font-size: 18px;
}

/*Navigation*/

.nav {
  width: 100%;
  color: $dark-gray;
  font-family:$sans-serif-font;
  padding-top: 0px;
  margin: 0px;
  @include transition(opacity, 0.3s, ease);
}

.wordmark {
  color: $dark-gray;
  font-family: $sans-serif-font;
  font-size: $fontsize-medium;
  text-align: left;
}

/*Header*/

.header {
  background: $base-gray url(../images/bkg-gray-01.png) no-repeat top left;
  @include backgroundSize(cover);
  background-attachment: fixed;
  min-height: 615px;
  height:100%;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 275px;
}

.name {
  text-align: center;
}

.title {
  text-align: center;
}

/*ABOUT*/

.about {
  background: $base-blue url(../images/bkg-blue-01.png) no-repeat top left;
  @include backgroundSize(cover);
  background-attachment: fixed;
  min-height: 1000px;
  height:90%;
}

.largecloud {
  padding-top: 115px;
}

.smallcloud{
  padding-top: 80px;
}

.smallcloud2{
  padding-top: 60px;
  margin: 0px -45px;
}

.righttype {
  padding-top: -60px;
}

.darkgray {
  color: $dark-gray;
}

.bottom-word {
  margin-top: -20px;
}
.orange {
  color: $base-orange;
}

.righttype {
    margin-top: -100px;
}

.hello {
  margin-top: -300px;
}

.softwareback {
  padding-top: 100px;
}

.softwarefront {
  padding-bottom: 200px;
}
/*WORK*/

.work {
  background: $light-gray url(../images/bkg-ltgray-01.png) no-repeat top left;
  @include backgroundSize(cover);
  height:90%;
  margin: 0;
}

.brain {
  padding-top: 400px;
  margin-left: auto;
  margin-right: auto;
}


/*CONTACT*/

.contact {
  background: $base-gray url(../images/bkg-gray-01.png) no-repeat top left;
  @include backgroundSize(cover);
  background-attachment: fixed;
  min-height: 350px;
  height:80%;
  margin: 0;
}

.line {
  padding-top: 150px;
}

.font {
  font-size: 48px;
  font-weight: 500;
  margin: 0px;
  padding: -20px;
}

.font2 {
  font-size: 24px;
}

.mind {
  color: $dark-gray;
}

.email {
  text-align: right;
  padding-top: 25px;
  margin: 0px;
  margin-right: -20px;
}

.gmail {
  color: $light-gray;
  font-size: 21px;
  font-weight: 500;
  margin: 0px;
  padding-left: -10px;
  padding-top: 32px;
}
