/*FONTS*/

h1 {
  color: $dark-gray;
  font-size: 72px;
}

h2 {
  color: $light-gray;
  font-size: $fontsize-bigger;
}

h3{
  color: $light-gray;
  font-family: $sans-serif-font;
  font-size: $fontsize-medium;
}

/*Navigation*/

.nav {
  position: fixed;
  width: 100%;
  color: $dark-gray;
  font-family:$sans-serif-font;
  padding-top: 50px;
  @include transition(opacity, 0.3s, ease);
}

.wordmark {
  color: $dark-gray;
  font-family: $sans-serif-font;
  font-size: $fontsize-medium;
  text-align: left;
}

/*Header*/

.header {
  background: $base-gray url(../images/bkg-gray-01.png) no-repeat top left;
  @include backgroundSize(cover);
  min-height: 612px;
  height:100%;
  margin: 0;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 275px;
}

.name {
  text-align: center;
}

.title {
  text-align: center;
}

/*ABOUT*/

.about {
  background: $base-blue url(../images/bkg-blue-01.png) no-repeat top left;
  @include backgroundSize(cover);
  min-height: 612px;
  height:100%;
  margin: 0;
}

.largecloud {
  padding-top: 150px;
  text-align: right;
}

.cloudsmall {
  text-align: right;
}

/*WORK*/

.work {
  background: $light-gray url(../images/bkg-ltgray-01.png) no-repeat top left;
  @include backgroundSize(cover);
  min-height: 612px;
  height:100%;
  margin: 0;
}

/*CONTACT*/

.contact {
  background: $base-gray url(../images/bkg-gray-01.png) no-repeat top left;
  @include backgroundSize(cover);
  min-height: 612px;
  height:100%;
  margin: 0;
}

