//COLORS

  //WHITE
  $base-white:#FFFFFF;
  $dark-white:#FAFAFA;

  //GRAY
  $base-gray:#676767;
  $dark-gray:#4B4B4B;
  $light-gray:#D7D7D7;

  //ORANGE
  $base-orange:#FF3A19;

  //BLUE
  $base-blue:#A7B8C5;


//TYPE PROPERTIES

  //SIZE
  $fontsize-tiny:11px;
  $fontsize-small:14px;
  $fontsize-base:15px;
  $fontsize-medium:18px;
  $fontsize-big:24px;
  $fontsize-huge:30px;
  $fontsize-bigger:35px;
  $fontsize-toobig:45px;

  //FONT STYLES
  $sans-serif-font:"Open Sans", Helvetica, sans-serif;
  $serif-font:"Crimson Text", Georgia, serif;

